@media screen and (max-width: 878px) {

    .category-list{
    width: 80%;
        color: brown;
    }    
}


@media screen and (max-width: 480px) {
    
    .menu{
        width: 50px;
    }

    .main-section{
        flex-basis: calc(100% - 50px);
    }
}