@media screen and (max-width: 878px) {

    .category-list{
    width: 80%;
    }
    
    .card{
    flex-basis: calc(100% / 4 - (50px / 4));
}

.category-list li {
    padding: 0 10px;
}

.side-footer{
    width: 30%;
}

.player-icons i{
    margin: 0;
    font-size: 20px;
}
}


@media screen and (max-width: 552px) {
    
    
    
    /*******************aside***************/
    /*utility*/
    .hidden{
            display: none;
        }

        /*menù aside*/
        .aside{
            width: 50px;
        }
        
        .container-logo{
            padding: 0;
        }
        .showup{
            display: inline;
            margin: 0 auto;
            width: 70%;
        }
        
        .list-aside{
            align-items: center;
        }

    /*main section*/
    .main-section{
        flex-basis: calc(100% - 50px);
    }

    .wrapper-player{
        gap: 30px;
    }

    .wrapper-song{
        gap: 20px;
    }

    .media-volume-icons{
        gap: 0;
    }

    .player-icons i{
    margin: 0;
    font-size: 18px;
}

    .song-info .song-title{
        font-size: 10px ;
     }

     .song-info span{
        font-size: 10px;
     }
     .song-info img{
        min-width: 40%;
     }
}