@media screen and (max-width: 878px) {

    .category-list{
    width: 80%;
        color: brown;
    }
    
    .card{
    flex-basis: calc(100% / 4 - (50px / 4));
}

    .card img{
        min-width: 100px;
    }
}


@media screen and (max-width: 552px) {
    
    .aside{
        width: 50px;
    }

    .main-section{
        flex-basis: calc(100% - 50px);
    }
}