@media screen and (max-width: 878px) {

    .category-list{
    width: 80%;
        color: brown;
    }
    
    .card{
    flex-basis: calc(100% / 4 - (50px / 4));
}

    .card img{
        min-width: 100px;
    }
}


@media screen and (max-width: 552px) {
    
    
    
    /*aside*/
    .aside{
        width: 50px;
    }

    .hidden{
        display: none;
    }

    .showup{
        display: inline;
        margin: 0 auto;
    }
    
    .container-logo{
        padding: 0;
    }


    /*main section*/
    .main-section{
        flex-basis: calc(100% - 50px);
    }



}