/**************RESET***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    font-family: "Montserrat", sans-serif;;
    font-size: 10px;
 }

 a{
    text-decoration: none;
    color: white;
 }

 li {
    list-style: none;
 }

 /***** MAIN SECTION********/

 /*"header" della main section*/
.upgrade{
    height: 100px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
}

a.btn{
    border: 1px solid white;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 20px;
}
 /* categorie*/

 section{
    margin: 0 30px;
 }

 .category-list{
    margin: 20px auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
 }

.category-list li{
    flex-shrink: 0;
}

h1 {
    font-size: 30px;
    margin: 20px 0px;
}

.cards-container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.card{
    text-align: center;
}

.card img{
    width: 180px;
    height: 180px
}

.card span{
    display: block;
    margin: 10px 0;
}

.song-title{
    font-size: 16px;
    font-weight: 600;
}

/****debug***/

.container{
    background-color: rgb(0, 161, 161);
    height: calc(100vh - 100px);
    display: flex;
}

.menu{
    height: 100%;
    background-color: beige;
    width: 250px;
}

.main-section{
    background-color: bisque;
    overflow-y: scroll;
    flex-basis: calc(100% - 250px);
}

.footer{
    background-color: rgb(0, 168, 219);
    height: 100px;
}




