/**************RESET***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;;
    font-size: 12px;
    font-weight: 700;
    color: rgb(95, 95, 95);
}


.container{
    height: calc(100vh - 100px);
    display: flex;
}


a{
     text-decoration: none;
     color: white;
    }
    
li {
        list-style: none;
    }
    
    /***** MAIN SECTION********/
    
    /*"header" della main section*/
    
    .upgrade{
        position: sticky;
        top: 0;
        height: 100px;
        background-color: hsl(222deg 38.46% 5.1%);
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 20px;
        width: 100%;
        opacity: 0.9;
        z-index: 1000;
    }
    
    a.btn{
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
}

    a.btn:hover {
        font-size: 16px;
        padding: 15px 35px;
        border-radius: 30px;
    }

/* categorie*/

.main-section{
    overflow-y: scroll;
    flex-basis: calc(100% - 250px);
}

section{
    padding:0 20px;
}

 .category{
     width: 100%;
     display: flex;
     justify-content: center;
    margin-top: 20px;
}


.category-list{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.category-list li{
    flex-shrink: 0;
}

h1 {
    font-size: 30px;
    margin: 10px 0px;
    color: white;
}

.cards-container{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin: 20px 0; 
    gap: 10px;  
}

.card{
    flex-basis: calc(100% / 6 - (50px / 6));
    text-align: center;
}

.card img{
    width: 100%; 
    height: auto;
    display: block; 
    min-width: 150px;
}


.card span{
    display: block;
    margin: 10px 0;
}

.song-title{
    font-size: 16px;
    font-weight: 600;
}

.round-card{
    border-radius: 50%;
}

.artist-name{
    color: gray;
    font-weight: 400;

}

.card img:hover{
    filter: brightness(50%);
}

.container-card-img{
    position: relative;
}

.icon-card{
    width: 100%;
    font-size: 60px;
    color: rgb(99, 47, 47);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.icon-card:hover{
    display: block;
    z-index: 50px;
}



/***********ASIDE*************/

.aside{
    background-color: rgb(0, 0, 0);;
    height: 100%;    
    width: 250px;
}

.aside i {
    font-size: 25px;
}




.container-logo{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.container-logo img{
    height: 40%;
}

.showup {
    display: none;
}

.aside-wrapper{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}

.list-aside{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-playlist {
    padding-top: 30px;
}

.menu-playlist li:first-child{
    font-size: 16px;
}

.menu-playlist h3{
    font-size: 16px;
    padding-bottom: 10px;
}


.download-aside{
    font-size: 10px;
    color: gray;
}

/****debug***/



.main-section{
    background-color:  hsl(219 26% 11% / 1);
}

.footer{
    background-color: hsl(0deg 0% 15.69%);;
    height: 100px;
}




