/**************RESET***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/****debug***/

.container{
    background-color: rgb(0, 161, 161);
    height: calc(100vh - 100px);
    display: flex;
}

.menu{
    height: 100%;
    background-color: beige;
    width: 250px;
}

.main-section{
    background-color: bisque;
    overflow-y: scroll;
    flex-basis: calc(100% - 250px);
}

.footer{
    background-color: rgb(0, 168, 219);
    height: 100px;
}

@media screen and (max-width: 480px) {
    
    .menu{
        width: 50px;
    }

    .main-section{
        flex-basis: calc(100% - 50px);
    }
}

