/**************RESET***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;;
    font-size: 12px;
    font-weight: 700;
    color: rgb(95, 95, 95);
}


.container{
    height: calc(100vh - 100px);
    display: flex;
}


a{
     text-decoration: none;
     color: gray;
    }
    
li {
        list-style: none;
    }

    .font-white , .song-title {
        color: white;
    }
    /***** MAIN SECTION********/
    
    /*"header" della main section*/
    
    .upgrade{
        position: sticky;
        top: 0;
        height: 100px;
        background-color: hsl(222deg 38.46% 5.1%);
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 20px;
        width: 100%;
        opacity: 0.9;
        z-index: 1000;
    }
    
    a.btn{
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
}

    a.btn:hover {
        font-size: 16px;
        padding: 15px 35px;
        border-radius: 30px;
    }

/* categorie*/


.main-section{
    background-color:  hsl(219 26% 11% / 1);
    overflow-y: scroll;
    flex-basis: calc(100% - 250px);
}

section{
    padding:0 20px;
}

 .category{
     width: 100%;
     display: flex;
     justify-content: center;
    margin-top: 20px;
}


.category-list{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.category-list a:hover {
    color: white;
    border-bottom: greenyellow 2px solid;
    padding-bottom: 10px;
}

.category-list li{
    flex-shrink: 0;
}

h1 , h3 {
    font-size: 30px;
    margin: 10px 0px;
    color: white;
}

.selection-music{
    margin: 30px 0;
}

.cards-container{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin: 20px 0; 
    gap: 10px;  
}

.card{
    flex-basis: calc(100% / 6 - (50px / 6));
    text-align: center;
}

.card img{
    width: 100%; 
    height: auto;
    display: block; 
    min-width: 150px;
}


.card span{
    display: block;
    margin: 10px 0;
}

.song-title{
    font-size: 16px;
    font-weight: 600;
}

.round-card{
    border-radius: 50%;
}

.artist-name{
    color: gray;
    font-weight: 400;

}


.container-card-img{
    position: relative;
}

i.icon-card{
    width: 100%;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    display: none;
}

.container-card-img:hover i.icon-card {
    display: block;
}

.container-card-img:hover img{
    filter: brightness(50%);
} 


/***********ASIDE*************/

.aside{
    background-color: rgb(0, 0, 0);;
    height: 100%;    
    width: 250px;
    overflow-y: auto;
}

.aside i {
    font-size: 25px;
}


.container-logo{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.container-logo img{
    height: 40%;
}

.showup {
    display: none;
}

.aside-wrapper{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}

.list-aside{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.img-aside{
    width: 30px;
    filter: brightness(50%);
}

.menu-playlist {
    padding-top: 30px;
}

.menu-playlist li:first-child{
    font-size: 16px;
}

.menu-playlist h3{
    font-size: 16px;
    padding-bottom: 10px;
}

.download-aside img{
    width: 20px;
    padding-right: 5px;
}


.list-aside a{
    display: flex;
    align-items: center;
}

.list-aside a:hover{
    color: white;
}

.list-aside a:hover .img-aside{
    filter: none;
}


.user{
    margin-bottom: 15px;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 5px;
}

.name-user {
    color: white;
    font-size: 16px;
    padding-left: 5px;
}

.user-image{
    width: 100%;    
    background-color: gray;    
    border: 1px white solid;
    border-radius: 50%;
    padding: 5px;
}

.user-image-container{
    height: 25px;
    width: 25px;

}

.border{
    border: 1px gray solid;
    width: 80%;
}



/**********footer*************/


footer i{
    font-size: 20px;
}

.wrapper-player{
    background-color: hsl(0deg 0% 15.69%);;
    height: 100px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.wrapper-song{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-info{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.song-info img{
    height: 60%;
}

.player{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px; 
}

.false-player{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.border-player{
    width: 50%;
    height: 3px;
    background-color: gray;
    position: relative;
    display: flex;
    align-items: center;
}

.border-player-time{
    width: 20%;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
}

.control-media{
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    display: none;
}


.false-player:hover .border-player-time{
    background-color: greenyellow;
}

.false-player:hover .control-media{
    display: block;
}






.media-volume{
    width: 20%;
}

