/**************RESET***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;;
    font-size: 12px;
}

.container{
    height: calc(100vh - 100px);
    display: flex;
}
 a{
     text-decoration: none;
     color: white;
    }
    
    li {
        list-style: none;
    }
    
    /***** MAIN SECTION********/
    
    /*"header" della main section*/
    
    .upgrade{
        position: sticky;
        top: 0;
        height: 100px;
        background-color: blue;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 20px;
        width: 100%;
    }
    
    a.btn{
    border: 1px solid white;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 20px;
    background-color: rgb(41, 87, 128);
}
/* categorie*/

.main-section{
    overflow-y: scroll;
    flex-basis: calc(100% - 250px);
}

section{
    padding:0 20px;
}

 .category{
     width: 100%;
     display: flex;
     justify-content: center;
    margin-top: 20px;
}


.category-list{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.category-list li{
    flex-shrink: 0;
}

h1 {
    font-size: 30px;
    margin: 10px 0px;
}

.cards-container{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin: 20px 0; 
    gap: 10px;  
}

.card{
    flex-basis: calc(100% / 6 - (50px / 6));
    text-align: center;
}

.card img{
    width: 100%; 
    height: auto;
    display: block; 
    min-width: 150px;
}


.card span{
    display: block;
    margin: 10px 0;
}

.song-title{
    font-size: 16px;
    font-weight: 600;
}

.round-card{
    border-radius: 50%;
}



/***********ASIDE*************/

.container-logo{
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.container-logo img{
    height: 40%;
}

.showup {
    display: none;
}

.aside-wrapper{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




/****debug***/


.aside{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    width: 250px;
}

.main-section{
    background-color: rgb(0, 161, 161);
    background-color: bisque;
}

.footer{
    background-color: rgb(0, 168, 219);
    height: 100px;
}




